In [ ]:
#Details of the Endpoint
#Run this code first (ctr + Enter)


u={"01-01-2022":300 ,
   "02-01-2022":500,
   "03-01-2022":700,
   "04-01-2022":1300,
   "05-01-2022":2000,
   "06-01-2022":3000,
   "07-01-2022":3500,
  "08-01-2022":4000,
  "09-01-2022":4500,
  "10-01-2022":5000,
  "11-01-2022":20000,
  "12-01-2022":35000,
  "13-01-2022":46000,
  "14-01-2022":70000,
  "15-01-2022":90000,}

In [ ]:
v = input("name your MySql Table :")
print("")
print("")
print("")
print("")

print( "CREATE TABLE "+str(v)+" (Date DATE NOT_NULL , Number_of_active_users INT DEFAULT '0.00' NOT_NULL"+")")
print("INSERT INTO "+str(v)+" VALUES")

for i in u:
    if i != '15-01-2022':
        print ('('+str(i)+','+str(u[i])+')'+',' )
    else:
        print('('+str(i)+','+str(u[i])+');')